:root {
  --main-bg-color: whitesmoke;
}

body {
  margin: 20px;
}

#app {
  height: 97vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 160px 1fr 80px;
  gap: 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header"
    "Restaurant"
    "Menu"
    "Footer";
  background: white;
  height: 100%;
}

.header {
  grid-area: Header;
  display: grid;
  background-color: var(--main-bg-color);
  align-content: center;
  text-align: center;
}

.header-restaurant {
  grid-area: Restaurant;
  display: grid;
  background-color: var(--main-bg-color);
  align-content: center;
  text-align: center;
}

.Menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Menu-Categories"
    "Menu-Items";
  grid-area: Menu;
}

.menu-categories {
  grid-area: Menu-Categories;
}

.menu-items {
  grid-area: Menu-Items;
  display: flex;
  column-gap: 20px;
}

.item-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Item-Pic Item-Pic Item-Title Item-Title Item-Title"
    "Item-Pic Item-Pic Item-Desc Item-Desc Item-Desc"
    "Item-Pic Item-Pic Item-Price Item-Price Item-Price";
  height: 15vw;
  min-height: 150px;
  max-height: 200px;
  width: 100%;
  background: whitesmoke;
  border-radius: 15px;
}

.item-name {
  grid-area: Item-Title;
}

.item-price {
  grid-area: Item-Price;
  justify-self: flex-end;
  align-self: end;
}

.item-description {
  grid-area: Item-Desc;
}

.item-image {
  grid-area: Item-Pic;
}

.footer {
  grid-area: Footer;
  background-color: var(--main-bg-color);
  display: grid;
  align-content: center;
  text-align: center;
}